<p>
    header works! Magic girl today: {{magica}}
</p>
<small>
    <ng-content select=".content1"></ng-content>
</small>


<ul class="nav navbar-nav">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="per1">Persona1</a></li>
    <li><a routerLink="per2">Persona2(Protected)</a></li>
    <li><a routerLink="per3">Persona3(1)</a></li>
    <li><a routerLink="perX">PersonaX(404page)</a></li>
    <li><a routerLink="persub">PersonaSub(ChildModule)</a></li>
</ul>

<div class="loading-overlay text-success" *ngIf="loading" style="width: 500px;">
    <b>Loading......</b>
</div>

<!--must add width for div, otherwise not displaying in line-->
<div class="main-container mainContainerPushLeft" style="width: 500px;">
    <router-outlet></router-outlet>
</div>

<span [ngStyle]="{'font-weight': 'bold', 'color': NormalColor}">
    
    Current datetime {{myDate | date:'medium'}}, 
    <ng-container *ngIf="(asyncTime | async) %2 == 0; else elseBlock">
        percentPipe: {{myCount | percent: '2.2' }}
    </ng-container>
    <ng-template #elseBlock>
        decimalPipe: {{myCount | number: '2.1' }}
    </ng-template>
</span>