<h3>
    pripara works! Reactive Form
</h3>
<form class="form-horizontal" [formGroup]="sbFG" (ngSubmit)="doSubmit()" style="border: solid 1px #ccc; padding: 20px 0;">
    <div class="form-group">
        <label class="col-md-2 control-label">name</label>
        <div class="col-md-6">
            <input class="form-control" formControlName="name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">email</label>
        <div class="col-md-6">
            <input class="form-control" formControlName="email" />
        </div>
    </div>
    <div *ngIf="formErrors.name || formErrors.email" class="alert alert-danger col-md-6 col-md-offset-2">
        <p>{{ formErrors.name }}</p>
        <p>{{ formErrors.email }}</p>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button [disabled]="!sbFG.valid" class="btn btn-info">Go Go Go</button>
        </div>
    </div>
</form>