<div class="demo-container" mdl-shadow="2">
    <mdl-layout mdl-layout-fixed-header mdl-layout-header-seamed>
        <mdl-layout-header>
            <mdl-layout-header-row>
                <mdl-layout-title>Title</mdl-layout-title>
                <mdl-layout-spacer></mdl-layout-spacer>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" routerLink="/">Persona1</a>
                    <a class="mdl-navigation__link" routerLink="per2">Persona2</a>
                    <a class="mdl-navigation__link" routerLink="persub">PersonaSub</a>
                    <div class="navbar-nav navbar-right">
                        <div class="dropdown">
                            <a id="user-profile" href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="https://avatars1.githubusercontent.com/u/19659266" class="img-responsive img-thumbnail img-circle" height="60" width="60"> UserName </a>
                            <ul class="dropdown-menu dropdown-block" role="menu">
                                <li><a href="#">Profil edition</a></li>
                                <li><a href="#">Admin</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </mdl-layout-header-row>
        </mdl-layout-header>
        <mdl-layout-drawer>
            <mdl-layout-title>Title</mdl-layout-title>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" routerLink="/">Persona1</a>
                <a class="mdl-navigation__link" routerLink="per2">Persona2</a>
                <a class="mdl-navigation__link" routerLink="persub">PersonaSub</a>
            </nav>
        </mdl-layout-drawer>
        <mdl-layout-content>
            <!-- Your content goes here -->
            <app-sidebar></app-sidebar>
        </mdl-layout-content>
    </mdl-layout>
</div>