/* You can add global styles to this file, and also import other style files */

strong {
    color: red;
}

.done {
    text-decoration: line-through;
}

.blue {
    color: blue;
}

.mainContainerPushLeft {
    margin: 55px 255px 0 0;
}